<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
</head>
<body>
    <h1>홈페이지</h1>
    <form action="/result/" method="post">
        {% csrf_token %}
        <label for="user_input">텍스트 입력:</label>
        <input type="text" id="user_input" name="user_input">
        <button type="submit">제출</button>
    </form>

    <div id="reader" style="width: 500px; height: 500px; margin-top: 20px;"></div>
    <p id="error-message" style="color: red; display: none;"></p>

    <script>
        function onScanSuccess(decodedText, decodedResult) {
            console.log(`QR 코드 스캔 성공: ${decodedText}`);
            // QR 코드 값을 폼의 텍스트 인풋에 자동 입력
            document.getElementById("user_input").value = decodedText;
            // 폼 자동 제출
            document.querySelector("form").submit();
        }

        function onScanFailure(error) {
            document.getElementById("error-message").innerText = `QR error: ${error}`;
            document.getElementById("error-message").style.display = "block";
        }

        let html5QrcodeScanner = new Html5QrcodeScanner(
            "reader", { fps: 30, qrbox: 300 });
        html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    </script>
</body>
</html>
